{% extends "index.html" %}
{% block start %}
<div class="navbar navbar-expand-lg navbar-light bg-ligh">

    <a class="navbar-brand"  href="/">Home</a>
    <a class="navbar-brand"  href="/contact">contact</a>
</div>
<h1>This is about page </h1>


<h1> 
    MarathiPDFSummarizer
</h1>
<p>
    MarathiPDFSummarizer is a web-based application developed in Python that allows users to upload Marathi language PDF documents and generates a summary of the content along with extracting a list of important keywords or key phrases from the PDF. These keywords represent the main topics discussed in the document.
</p>
<h2>
     Features
</h2>
<ul>
<li>

    - **User-friendly Interface**: Intuitive frontend interface allowing users to easily upload Marathi PDF documents.
</li>
<li>

    - **Automatic Summarization**: Automated summarization of Marathi PDF content, providing users with concise summaries.
</li>
<li>

    - **Keyword Extraction**: Extraction of key topics and keywords from Marathi PDFs, aiding in content understanding.
</li>
<li>
    - **Language-specific NLP**: Utilization of language-specific NLP techniques for accurate text processing and analysis.

</li>
<li>

    - **Translation Option**: Option for translating the generated output (summary and keywords) into English for enhanced accessibility.
</li></ul>


{% endblock  %}
