{% extends "index.html" %}
{% block start %}
<div class="navbar navbar-expand-lg navbar-light bg-ligh">

    <a class="navbar-brand"  href="/">Home</a>
    <a class="navbar-brand"  href="/contact">contact</a>
</div>

<form class='col-5 mx-auto card p-3 shadow-lg' method="post" enctype = "multipart/form-data">
   {% csrf_token %}
    <h2>Add Reciepe</h2>
    <hr>
    <div class="form-group">
      <label for="exampleInputEmail1" class='form-label' >Reciepe Name</label>
      <input name="reciepe_name" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class='form-label'>Reciepe Descriptions</label>
        <textarea class="form-control"  name="reciepe_description" id="exampleFormControlTextarea1" required rows="3"></textarea>
    </div>
    <div class="form-group">
      <div class="mb-3">
        <label for="exampleInputPassword1" class='form-label'>Reciepe Image</label>
        <input type="file" name="reciepe_image" class="form-control" required>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Add Reciepe</button>
    {% comment %} {{reciepes}} {% endcomment %}
  </form>
    <div class="container">
      <form class="d-flex mt-5" role="search">
        <input name='search' class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
 <table class="table table-striped table-white mt-5">
    <thead>
      <tr>
        <th scope="col">SR.NO</th>
        <th scope="col">Reciepe name</th>
        <th scope="col">Reciepe description</th>
        <th scope="col">Reciepe name</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      {% for reciepe in  reciepes %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{reciepe.reciepe_name}}</td>
      <td> {{reciepe.reciepe_description}} </td>
      <td>  
        <img src="/media/{{reciepe.reciepe_image}}"alt="" style="height: 100px;">
      </td>
      <td>  
        <a href="/delete-reciepe/{{reciepe.id}}/" type="button" class="btn btn-danger ">Delete</a>
        <a href="/update-reciepe/{{reciepe.id}}/" type="button" class="btn btn-success ">Update</a>
      </td>
    </tr>
      {% endfor %}
    </tbody>
  </table> 

{% endblock  %}
